<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Type Submit</title>
</head>
<body>

    <header>
        {{if .Method}}<p>The request method: {{.Method}}</p>{{end}}
        {{if .Host}}<p>The request host: {{.Host}}</p>{{end}}
        {{if .ContentLength}}<p>The request ContentLength: {{.ContentLength}}</p>{{end}}

        {{if .URL}}<p>The request URL:</p>
        {{.URL}}
        {{end}}

    </header>
</body>
</html>